body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.font-color{
    color: orange;
}
.wight-haft{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 2%;
}
.wight-haft img {
            width: 100%;
}